.flash-card {
  font-size: 2rem;
  line-height: 72px;
  width: 216px;
  border: 1px solid #000;
  margin: 0 0 18px 0;
  cursor: pointer;
  user-select: none;
  color: #fff;
  padding: 2em;
}

.flash-card.front {
  background: blue;
}

.flash-card.back {
  background: green;
}

div {
  /* display: flex; */
}
